[Unit]
Description=lora package forwarder

[Service]
WorkingDirectory=/opt/siliq/
ExecStart=/opt/siliq/start.sh
SyslogIdentifier=lora gateway
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
